/* Custom Classes */
.no-click {
  cursor: default !important;
}

.hide-side-section {
  display: none !important;
}

.widget.menu-widget {
  background-color: var(--secondary-bg);
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 255, 255, 0.1);
  padding: 12px;
}

.widget-title .widget-title-text {
  text-decoration: underline;
  font-weight: 800;
  color: var(--accent-color);
}

.menu-widget:hover .widget-title .widget-title-text {
  color: var(--accent-hover);
  text-decoration: none;
}

.menu-open-btn {
  margin-right: var(--margin-sm);
}
